*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
body{
    width: 100%;

}
.logo img{
    padding: 5px;
    height: 75px;
    width: auto;
    margin-left: 40px;
    background-blend-mode: multiply;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    width: 100%;
    height: 70px;
    box-shadow: 5px 5px 20px orangered;
}
nav ul{
    margin-right: 20px;
}
.logo{
    padding-left:40px ;
}
nav ul li{
    list-style: none;
    display: inline;
    margin: 10px 10px;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
}
.menu{
    font-size: 130%;
    display: none;
}
nav .nlink::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color:rgb(39, 49, 56);
    transition: all 0.3s ease-in-out;
}
nav .nlink:hover::before,nav .nlink.active::before{
    width: 100%;
}
nav li a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(39, 49, 56);
}
/*Home Style*/
header{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    overflow: hidden;
}
.button{
    font-weight: 700;
    color: white;
    border: 0px solid transparent;
    border-radius: 42px;
    padding: 20px 40px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    position: relative;
    overflow: hidden;
    
}
.button::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(135deg,transparent,transparent,blue,transparent,transparent);    
    transition: all 0.5s ease-in-out;
}
.button:hover::before{
   animation: buttonanimmation 0.4s ease-in;
}
@keyframes buttonanimmation {
    from{
        left: -100%;
    }
    to{
        left: 100%;
    }
    
}
.data h2{
    font-family: "Poetsen One";
    font-size: 400%;
}
.data p{
    font-family: "Poetsen One";
    font-size: 150%;

}
.data span{
    color: blue;
    font-family: "Poetsen One";

}
.data{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 10%;
}
.feature{ 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;

}

.f{
    display: inline-block;
    box-shadow: 0px 0px 10px grey;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.2s linear;
 
   
}
.f img:hover{
    scale: 1.08;
}
.heading{
    width: 100%;
    padding: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 200%;
    font-family: "Poetsen One";
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    overflow: hidden;
    gap: 30px;
}
.pro{
    box-shadow: 0px 0px 10px grey;
    position: relative;
    overflow: hidden;
}
.pro img{
    overflow: hidden;
    height: 280px;
    width: 230px;
    margin: 10px;
}
.des h5{
    color: grey;
    padding-bottom: 5px;
}
.des h4{
    padding-bottom: 5px;
}

.star{
    color: gold;
    padding-bottom: 5px;

}
.pro .des{
    padding: 10px;
}
.pro .cart{
    border: 0.3px solid transparent;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgb(235, 234, 234);
}

.banner{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    padding: 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    align-items: center;
    font-family: "Poetsen One";
}

.banner .caller .inp{
    padding: 10px;
    width: 200px;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;


}
.matter h3{
    padding-bottom: 10px;
}
.matter{

    padding: 10px;
    width: 40vw;
}
.matter span{
    color: yellow;
}

.caller{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.banner button{
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
}
footer{
    height: 100px;
    background-color: black;
    width: 100%;
}



























@media screen and (max-width:500px) {
    .navlink{
        display: none;
    }
    .menu{
        display: inline-block;
    }
    .data{
        margin-top: 100px;
        padding: 0;
        padding-top: 20%;
        justify-content: center;
        align-items: center;
        font-size: 65%;
        row-gap: 15px;
    }
    .data h2{
        color: rgb(0, 0, 0);
    }
    .data span{
        color: rgb(72, 30, 139);
    }
    .button{
        padding: 15px;

    }
    header{
        background-size: cover;
        background-position: center;
       
    }
    .banner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .banner input{
        width: 70%;
        overflow: hidden;
    }
    .heading{
        width: 100%;
        padding: 20px;
        text-align: center;
        font-weight: 400;
        font-size: 100%;
        font-family: "Poetsen One";
    }
    
    



    .products{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        flex-direction: row;
        overflow: hidden;
        gap: 10px;
    }
    .pro{
        box-shadow: 0px 0px 10px grey;
        position: relative;
        overflow: hidden;
       
    }
    .pro img{
        overflow: hidden;
        height: 150px;
        width: auto;
        margin: 7px;
    }
    .des h5{
        color: grey;
        font-size: 70%;
        padding-bottom: 5px;
    }
    .des h4{
        font-size: 70%;

        padding-bottom: 5px;
    }
    
    .star{
        font-size: 70%;

        color: gold;
        padding-bottom: 5px;
    
    }
    .pro .des{
        padding: 10px;
    }
    .pro .cart{
        font-size: 50%;

        border: 0.3px solid transparent;
        border-radius: 50%;
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 7px;
        background-color: rgb(235, 234, 234);
    }
    


    .data h2{
    font-family: "Poetsen One";
    font-size: 400%;
}
.data p{
    font-family: "Poetsen One";
    font-size: 150%;

}
.data span{
    color: blue;
    font-family: "Poetsen One";

}
.data{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 10%;
}


.feature{ 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;

}

.f{
    display: inline-block;
    box-shadow: 0px 0px 10px grey;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.2s linear;
 
   
}
.f img:hover{
    scale: 1.08;
}
}