body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: rgb(24, 3, 58);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.forum {
  display: none;
}

.sidenav {
  z-index: 25;
  height: 100vh;
  width: 50%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: rgb(31, 11, 63);
  padding-top: 70px;
  transition: all 0.5s ease;
}

.sidenav a {
  text-decoration: none;
  width: 100%;
}

.sidenav a {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidenav a:hover {
  background-color: rgb(40, 16, 80);
}

.sidenav button {
  position: absolute;
  top: 20px;
  right: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(10, 210, 245);
  font-weight: bold;
  font-size: 38px;
  transform: rotate(45deg);
}

.sidenav a {
  font-weight: bold;
  text-align: center;
  color: white;
  display: block;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 65px;
  box-shadow: 0 0 20px black;
  z-index: 20;
  background-color: rgb(25, 9, 116);
}

.slide {
  margin: 15px;
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;

}

.slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  object-fit: cover;

}

.sc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}


.slide .active {
  left: 0;

}

.slide .prev,
.slide .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(12, 12, 12);
  opacity: 50%;
  border-radius: 15px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

.dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 1px solid rgb(10, 210, 245);
  background-color: transparent;
  margin: 5px;
  padding: 0.2px;
}

.avt {
  background-color: rgb(10, 210, 245);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 5px;
  width: 50px;
  height: 25px;
  position: relative;
  padding: 5px;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: start;
  flex-direction: column;

}

.bar {
  z-index: 6;
  position: relative;
  width: 40px;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgb(10, 210, 245);
}

.bar:nth-child(1) {
  width: 30px;
}

.bar:nth-child(3) {
  width: 30px;
}

.navlink ul {
  list-style: none;
}

.navlink {
  display: inline-block;
}

.logo {
  display: inline-block;
}

.navlink ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 2px;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  transition: all ease 0.3s;
}

.navlink ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.navlink ul li a:hover {
  color: rgb(10, 210, 245);
}

.navlink ul li a::before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 3px;
  width: 0%;
  background-color: rgb(10, 210, 245);
  transition: all ease 0.3s;
}

.navlink ul li .active {
  /* width: 100%; */
  color: rgb(10, 210, 245);
}

.navlink ul li .active::before {
  width: 100%;

}

.logo {
  padding: 20px;
}

.logo p {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
}

.logo span {
  color: orangered;
}

.search {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sbar {
  font-size: 17px;
  width: 50%;
  color: white;
  height: 35px;
  border: 2px solid rgb(7, 193, 240);
  background-color: transparent;
  outline: none;
  border-radius: 15px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  text-transform: uppercase;
  position: relative;
  overflow: auto;
}

.sbutton {
  height: 40px;
  width: 130px;
  border-radius: 15px;
  background-color: rgb(10, 210, 245);
  outline: none;
  border: none;
  font-weight: bold;
  color: white;
  position: relative;
  transition: all ease 0.8s;
  overflow: hidden;
}

.sbutton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, transparent, rgb(219, 5, 219), transparent);
  transition: all ease 0.8s;
}

.sbutton:hover::before {
  animation: but 0.4s linear;
}

.sbutton:hover {
  background-color: rgb(219, 5, 219);
}

.conatiner {
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  column-gap: 20px;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

.box {
  border-radius: 15px;
  min-width: 45%;
  text-align: center;
  position: relative;
  height: 70px;
}

.box img {
  position: relative;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  object-fit: cover;
}

.box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 8;
}

.box .overlay {
  border-radius: 15px;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 7;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  opacity: 30%;


}
.overlay:hover {
  opacity: 0;
}

/* ---------------------------  */
.mcontainer {
  margin-top: 30px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
  row-gap: 20px;
  column-gap: 20px;
}

.mbox {
  display: inline-block;
  height: 350px;
  width: 250px;
  color: white;
  box-shadow: 0 0 10px black;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(25, 9, 116);
}

.mbox img {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.mbox .circle {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.mbox p {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 130%;
  padding: 0;
  margin: 0;

}

.desc {
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  justify-content: center;
  align-items: center;



}

.sect1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sect1 .liked {
  background-color: red;
}

.sect2 .sbutton {
  margin: 20px;
  width: 100px;
  height: 30px;
}

.sect2 .sbutton a {
  text-decoration: none;
  color: white;
}

/* ---------------------------  */
.big-head {
  padding-left: 30px;
}

.big-head h1 {
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-style: italic;
}

footer {
  color: white;
  box-sizing: border-box;
  background-color: rgb(25, 9, 116);
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 30px;
  flex-wrap: wrap;
  margin: 0;
}

.dart {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot4 {
  background-color: black;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  row-gap: 8px;
  flex-direction: column;

}

.foot4 form {
  display: flex;
  justify-content: start;
  align-items: center;
  row-gap: 8px;
  flex-direction: column;
}

.foot4 input,
.foot4 textarea {
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-weight: 500;
  background-color: transparent;
  margin: 4px;
}

.foot4 input::placeholder {
  color: white;
}

.foot4 textarea {
  border: 1px solid white;
}

.foot4 textarea::placeholder {
  color: white;

}

.foot4 button {
  padding: 7px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(21, 9, 49);
  color: white;
}


@keyframes but {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes next1 {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }


}

@keyframes next2 {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }

}

@keyframes prev1 {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }

}

@keyframes prev2 {
  0% {
    left: -100%;

  }

  100% {
    left: 0%;
  }

}

@media screen and (max-width:652px) {
  .menu {
    display: flex;

  }
  
  .mbox {
    display: inline-block;
    height: 250px;
    width: 150px;
    color: white;
    box-shadow: 0 0 10px black;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(25, 9, 116);
  }
  
  .mbox {
    width: 40%;
  }
  .mbox p{
    font-size: 110%;
  }
  .mbox img {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    border-radius: 15px;
  }


  .navlink {
    display: none;
  }

  .slide {
    height: 250px;
  }

  .sc {
    height: 300px;
  }

  .box {
    width: 60px;
    margin: 5px;
  }

  .conatiner {
    padding-left: 0px;
    padding-right: 0px;
    row-gap: 5px;
    column-gap: 5px;
  }

  .sbar {
    height: 20px;
  }

  .sbutton {
    height: 30px;
    width: 100px;
  }

  nav {
    height: 50px;
  }

  .slide .prev,
  .slide .next {
    font-size: 20px;
  }

}