@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary: #0e2238;
    --secondary: #c5d5e6;
    --primary-white: white;
    --secondary-white: rgb(170, 170, 170);
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

/* Navigation bar style starts */
nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 50px;
    height: 60px;
    background-color: var(--secondary);
    z-index: 500;
    width: 100%;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .form {
    display: flex;
    justify-content: center;
    gap: 20;
    align-items: center;
}

nav .form input {
    outline: none;
    width: 800px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
}

nav .form button {
    padding: 10px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--primary);
    color: white;
}

nav .form button i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.nav-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu{
    cursor: pointer;
}
.nav-link {
    font-weight: 800px;
    font-size: 25px;
    color: var(--primary);
}

nav i {
    font-size: 25px;
    color: var(--primary);
}

/* Navigation bar Style Ends */

/* Collection style starts */
.collection {

    padding: 50px;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 80px;
}

.collection-item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;

}

.collection-item span {
    color: var(--primary);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.collection-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.collection-item img:hover {
    scale: 1.1;
}

.collection::-webkit-scrollbar {
    scrollbar-width: none;
}

/* Collection style ends */


/* Side bar Style Starts */
aside {
    padding: 20px 0px;
    z-index: 1000;
    display: flex;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

#sidebar .cancel {
    cursor: pointer;
    padding-left: 80%;
}

.cancel button {
    all: unset;
    color: white;
    font-size: 25px;
    background-color: transparent;
}

#sidebar.expand {
    width: 300px;
    min-width: 300px;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
}

/* Sidebar Style Ends  */

/* Main Container Style Starts */
main {
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-color: white;
}

.btn {
    background-color: var(--primary);
    border: 1px solid white;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: var(--primary);
}

.sub-title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary);
}

/* carousel Style Starts */
.Carouselcontainer {
    padding: 0px;
}

.carousel-item img {
    width: 100%;
    height: 570px;
}

.carousel-caption {
    bottom: 200px;
}

.carousel-caption h5 {
    font-size: 3rem;
}

.carousel-caption p {
    font-size: 1.7rem;
}

/* Carousel Style Ends */

/* Gallery Container Style Starts */
.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.gcontainer img {
    width: 100%;
    height: 100%;
}

.gcontainer {
    padding: 20px;
    width: calc(100%-260);
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 200px 300px;
    gap: 5px;
    grid-template-areas: 'img1 img1 img2 img2'
        'img1 img1 img3 img4'
        'img6 img6 img3 img5';
}

/* Gallery Container Style Ends */

/* Products Style Start */
.products {
    padding: 50px;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

.card-img-top {
    height: 200px;
}

.products .card {
    width: 18rem;
}

/* Products Style Ends */

/* offer section Start */
.Offer {
    padding: 50px;
    display: grid;
    justify-items: center;
    align-content: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

.offer-card {
    width: 270px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 15px;
    border: 1px solid rgb(202, 201, 201);
    transition: box-shadow 0.2s linear;
    position: relative;
    border-radius: 10px;
}

.offer-card img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.offer-card h4 {
    color: var(--primary);
    padding-top: 10px;
    font-weight: 600px;
}

.offer-card p {
    padding-top: 7px;
    color: var(--primary);
}

.offer-card .stars {
    color: rgb(236, 204, 18);
}

.offer-card span {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    padding: 7px 10px;
    border: 1px solid var(--primary);
    transition: all 0.3s linear;
}

.offer-card span:hover {
    background-color: var(--primary);
    color: white;
}

.offer-card .available {
    color: green;
}

.offer-card .not-available {
    color: rgb(182, 37, 37);
}

/* offer section End */

/* Footer */
#About {
    width: 100%;
    height: auto;
    display: grid;
    padding: 20px 100px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    background-color: var(--secondary);
    color: var(--primary);
}

#About address p {
    line-height: 25px;

}

#foot {
    text-align: center;
    padding: 10px;
    background-color: var(--primary);
    color: white;
}

.com-name {
    font-size: 30px;
}

.com-des {
    font-size: 21px;
}

.com-social {
    font-size: 30px;
}

.news-letter form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;
    color: var(--primary);
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid var(--primary);
}

.news-letter form input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary);
    background-color: transparent;
    width: 100%;
    color: var(--primary);
}

/* Footer */

.lc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 20px;
    align-content: center;
    justify-items: center;
}

.card-text, .card-title {
    color: white;
}

.card {
    background-color: var(--primary);
}

























@media only screen and (max-width:768px) {
    .title {
        padding-top: 10px;
        font-size: 1.7rem;
    }

    .sub-title {
        font-size: 0.9rem;
        padding: 3px 20px;
    }

    /* carousel Style Starts */
    .Carouselcontainer {
        padding: 0px;
    }

    .carousel-item img {
        width: 100%;
        height: 300px;
    }

    .carousel-caption {
        bottom: 20px;
    }

    .carousel-caption h5 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }

    /* Carousel Style Ends */

    /* Navigation bar style starts */
    nav {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    nav .form input {
        width: 300px;
        padding: 7px 5px;
    }

    nav .form button {
        font-size: 13px;
        padding: 7px;
    }

    .nav-item {
        margin: 0;
        background-color: var(--secondary);
        text-align: center;
        gap: 10px;
    }

    /* Navigation bar Style Ends */

    /* Collection style starts */
    .collection {
        padding: 10px 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-bottom: 35px;
        overflow-x: scroll;
        gap: 7px;
    }

    .collection-item {
        width: 80px;
        height: 80px;
    }

    .collection-item span {
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
    }

    .collection-item img:hover {
        scale: 1.02;
    }

    /* Collection style ends */

    .gcontainer {
        padding: 30px;
        width: 100%;
        grid-template-rows: repeat(100px);
    }

    /* Products Style Start */
    .products {
        padding: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .card-img-top {
        height: 115px;
    }

    .products .card {
        width: 170px;
        text-align: center;
    }

    .products .card-title {
        font-size: 16px;
    }

    .products .card-text {
        font-size: 11px;
    }

    .products .btn {
        background-color: var(--primary);
        border: 1px solid white;
        font-size: 12px;
    }

    /* Products Style Ends */

    /* offer section Start */

    .Offer {
        padding: 5px;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding-bottom: 20px;
    }

    .offer-card {
        width: 150px;
        padding: 2px;
        padding-bottom: 15px;
    }

    .offer-card img {
        width: 100%;
        height: 140px;
        border-radius: 5px;
    }

    .offer-card h4 {
        font-size: 0.9rem;
        padding-top: 5px;
        padding-left: 6px;
    }

    .offer-card p {
        padding-left: 6px;
        font-size: 0.8rem;
    }

    .offer-card span {
        font-size: 0.7rem;
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        padding: 5px 7px;
    }

    .offer-card .available {
        font-size: 0.6rem;
        color: green;
        padding-left: 6px;
    }

    .offer-card .not-available {
        font-size: 0.6rem;
        color: rgb(182, 37, 37);
        padding-left: 6px;
    }

    .offer-card .stars {
        padding-left: 6px;
        font-size: 0.8rem;
    }

    /* offer section End */

    /* Footer */
    #About {
        text-align: center;
        padding: 5px 5px;
        grid-template-columns: 1fr;
        row-gap: 20px;
        padding-bottom: 30px;
    }

    .com-name {
        padding: 10px 0px;
        font-size: 25px;
        text-decoration: underline;
    }

    .com-des {
        font-size: 15px;
    }

    .news-letter form h1 {
        font-size: 20px;
    }

    .news-letter form {
        padding: 15px;
        width: 300px;
        border-radius: 10px;
        border: 1px solid var(--primary);
    }

    .news-letter form input {
        outline: none;
        border: none;
        border-bottom: 1px solid var(--primary);
        background-color: transparent;
        width: 100%;
        color: var(--primary);
    }

    /* Footer */
    .lc {
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        gap: 10px;
        align-content: center;
        justify-items: center;
    }

    .lc .card-title {
        font-size: 13px;
    }

    .lc .card-text {
        font-size: 10px;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width:425px) {

    /* carousel Style Starts */
    .Carouselcontainer {
        padding: 0px;
    }

    .carousel-item img {
        width: 100%;
        height: 230px;

    }

    /* Carousel Style Ends */

    /* Navigation bar style starts */
    nav {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    nav .form input {
        width: 165px;
        padding: 7px 5px;
    }

    /* Navigation bar Style Ends */

    /* Collection style starts */
    .collection {
        padding: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-bottom: 35px;
        overflow-x: scroll;
        gap: 7px;
    }

    .collection-item {
        width: 80px;
        height: 80px;
    }

    .collection-item span {
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
    }

    .collection-item img:hover {
        scale: 1.02;
    }

    /* Collection style ends */

    .gcontainer {
        padding: 5px;
        width: 100%;
        grid-template-rows: 100px;
    }

    /* Products Style Start */
    .products {
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .card-img-top {
        height: 135px;
    }

    .products .card {
        width: 170px;
        text-align: center;
    }

    .products .card-title {
        font-size: 17px;
    }

    .products .card-text {
        font-size: 11px;
    }

    /* Products Style Ends */

    /* offer section Start */
    .Offer {
        padding: 5px;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-bottom: 20px;
    }

    .offer-card {
        width: 170px;
        padding: 2px;
        padding-bottom: 15px;
    }

    .offer-card img {
        width: 100%;
        height: 150px;
        border-radius: 5px;
    }

    .offer-card h4 {
        font-size: 0.9rem;
        padding-top: 5px;
        padding-left: 6px;
    }

    .offer-card p {
        padding-left: 6px;
        font-size: 0.8rem;
    }
}

/* ----------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width:320px) {
    .carousel-item img {
        width: 100%;
        height: 210px;
    }

    nav .form input {
        padding: 5px;
    }

    nav .form button {
        font-size: 11px;
        padding: 5px;
    }

    /* Products Style Start */
    .products {
        padding: 10px;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card-img-top {
        height: 140px;

    }

    .products .card {
        width: 240px;
        text-align: center;
    }

    .products .card-title {
        font-size: 17px;
    }

    .products .card-text {
        font-size: 11px;
    }

    /* Products Style Ends */

    /* offer section Start */
    .Offer {
        padding: 10px;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: 1fr;
        gap: 10px;
        padding-bottom: 20px;
    }

    .offer-card {
        width: 240px;
        padding: 5px;
        padding-bottom: 15px;
    }

    .offer-card img {
        width: 100%;
        height: 160px;
        border-radius: 5px;
    }

    .offer-card h4 {
        font-size: 0.9rem;
        padding-top: 5px;
        padding-left: 6px;
    }

    /* offer section End */
}